.category-main-list {
  overflow: scroll;
  height: 80vh;
  margin: 1rem auto;
  padding-top: 1rem;
  overflow-x: hidden;
  position: sticky;
}
.category-link {
  text-transform: capitalize;
  padding: 6px 8px 6px 0;
  margin: 0.5rem 0;
  display: block;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #1a181e;
}
.category-link a {
  text-decoration: none;
  color: #1a181e;
}
.category-link a:hover{
  color: #146eb4;
}

.all-categories-link {
  cursor: pointer;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  
}
.anchor-1 {
  color: #146eb4;
  cursor: pointer;
  font-weight: 500;
}
.ml6 {
  margin-left: 6px;
}

.link-active {
  text-transform: capitalize;
  padding: 6px 8px 6px 0;
  margin: 0.5rem 0;
  display: block;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #146eb4;
  background-image: linear-gradient(
    270deg,
    rgba(20, 110, 180, 0.08),
    rgba(20, 110, 180, 0)
  );
  border-right: 4px solid #146eb4;
}

.link-active a {
  text-decoration: none;
  color: #146eb4;
  font-weight: 500;
}
