.container {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: stretch;
  width: 80%;
  margin: 0 auto;
  height: 82vh;
}
.main-container {
  height: 85vh;
}
.categories-sidebar {
  width: 255px;
  padding: 0 0 40px;
  overflow: hidden !important;
}
.no-prod-found {
  font-size: 1.2rem;
  line-height: 28px;
  font-weight: 500;
  margin-top: 24px;
}
.container-card {
  width: 30%;
}
.no-product {
  text-align: center;
  height: 100%;

  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 0 1rem;
}
.empty-order {
  margin: 1rem auto;
  padding: 0 32px;
}
.empty-order-bag {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.empty-order-text {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  margin: 1rem auto;
}

.empty-order-text-p {
  color: grey;
  margin-top: 1rem;
}

.flex-1 {
  background-color: white;
}
.flex-2 {
  width: 55%;
  border: 1px solid #e6e6e6;
  height: 85vh;
}
.flex-3 {
  width: 25%;
  background-color: white;
}

.cart-text {
  text-align: center;
  margin: 1rem;
}

.cart-count-badge {
  font-size: 2rem;
  line-height: 32px;
  font-weight: 500;
  margin: 1rem 0;
  padding: 1rem 0rem 1rem 0rem;
}
.cart-count-badge-value {
  background-color: #146eb4;
  border-radius: 4px;
  padding: 2px 6px;
  color: #fff;
  margin-left: 6px;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 500;
  min-width: 29px;
  text-align: center;
  display: inline-block;
}

.product-view-main {
  height: 80vh;
  margin: 0rem auto;
  display: flex;
  align-items: center;
}

.count-bag {
  display: flex;
  justify-content: space-between;
}

.clear-count-bag {
  display: flex;
  align-items: center;
}

.clear-bag {
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid #4d4d4d;
  color: #4d4d4d;
}

