* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.anchor {
  height: 6rem;
}
